doctype html
html
  head
    title= "Rate my talk"
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/ratings.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  body(data-bind="css: { 'rated': hasRated }")
    div.content
      div.rating-container
        h1= "Rate my talk"
        span.rating.cf
          each val in [1, 2, 3, 4, 5].reverse()
            input(type='radio', id="rating-" + val, value=val, data-bind="checked: userRating", class="star-" + val, name="user-rating")
            label(for="rating-" + val)
              span.label= val
              span &#9733;
        div.graphs
          h1.average(data-bind="text: averageRating")
          div.bar-chart
          div.cumulative
    div.scatterplot
    script(src='//code.jquery.com/jquery.js')
    script(src='//cdn.sockjs.org/sockjs-0.3.min.js')
    script(src='js/d3.min.js')
    script(src='js/d3.chart.min.js')
    script(src='js/d3.scatterplot.js')
    script(src='js/d3.barchart.js')
    script(src='js/d3.linegraph.js')
    //- script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js')
    script(src='js/knockout.js')
    script(src='js/moment.min.js')
    script(src='js/sock-pubsub.js')
    script(src='js/ratings.js')
